* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  min-height: 100vh;
  background: var(--primary-color);
  background: radial-gradient(
    at center,
    var(--primary-color) 0%,
    var(--primary-color2) 100%
  );
  color: var(--secondary-color);
  font-size: 10px;
}

@font-face {
  font-family: "Tomato";
  src: url("/fonts/TomatoGrotesk-Bold.woff2");
}

@font-face {
  font-family: "Flaviotte";
  src: url("/fonts/Flaviotte.woff2");
}
@font-face {
  font-family: "Maghfirea";
  src: url("/fonts/Maghfirea.ttf");
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope.woff2");
}
@font-face {
  font-family: "Acid";
  src: url("/fonts/AcidGroteskRegular.otf");
}
@font-face {
  font-family: "Mont";
  src: url("/fonts/Montserrat-VF.woff2");
}

.noise {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99;
  opacity: 0.3;
}

.noise::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  background-position: 50% center;
  background-image: url("/assets/noise.png");
  animation: 1s steps(2) 0s infinite normal none running k-jyamtm;
}

@keyframes k-jyamtm {
  0% {
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    transform: translate3d(6rem, -5rem, 0);
  }
  100% {
    transform: translate3d(-7rem, 0, 0);
  }
}

header {
  width: 100vw;
  height: 100px;
  position: absolute;
  top: 3rem;
  left: 0;
  font-family: 'Mont';
}

header .inner {
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-weight: 500;
  font-size: 1.2rem;
  color: #302C2A;
}

header h1 span {
  font-weight: 600;
  background-color: #e0dad1;
  border-radius: 5px;
  padding: 0 .2rem;
}

header .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .8rem;
  color: #302C2A;
}

header .menu svg {
  margin-top: 5px;
  fill: #302C2A;
}

header .menu {
  font-size: 1.2rem;
  font-weight: 600;
  opacity: .8;
}

main {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background: #eae7e2;
}

::selection {
    background: #dad2c6;
}

main section {
  width: 100%;
  height: min-content;
  position: relative;
}

main section .inner {
  min-height: 700px;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#s1 .intro {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5em;
  width: 90%;
  max-width: 1300px;
  overflow: hidden;
}

#s1 .intro .name {
  font-size: 2.6rem;
  font-family: "Manrope";
  margin-top: 300px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: .8;
  transform-origin: left;
  color: #302C2A;
  margin-bottom: .8rem;
}

#s1 .intro .desc {
  font-size: 1.2rem;
  font-family: 'Manrope';
  letter-spacing: .5px;
  word-spacing: 1px;
  color: #474340;
  max-width: 600px;
}
#s1 .intro .time {
  font-size: 1.1rem;
  font-family: 'Mont';
  color: #474340;
  max-width: 60%;
  font-weight: 500;
  margin-bottom: .9rem;
  margin-left: .5rem;
  word-spacing: 0;
  opacity: 0;
}

#s1 .scrolldown {
  width: 160px;
  aspect-ratio: 1;
  border: 2px solid #9c848484;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 5rem;
  right: 10rem;
  animation: bounce 2s infinite;
  transform-origin: center;
  transition: 0.4s ease;
}

#s1 .scrolldown::after {
  content: '';
  position: absolute;
  width: calc(100% - 8px);
  aspect-ratio: 1;
  top: 2px;
  left: 2px;
  border: 2px solid #9c848484;
  border-radius: 50%;
  transform-origin: center;
  transition: 0.2s ease-out;
}

#s1 .scrolldown svg {
  transition: 0.2s ease-out;
  fill: #9c8484;
  animation: bounceSmal 2s infinite;
  opacity: .6;
  scale: 1.2;
}

#s1 .scrolldown span {
  position: absolute;
  text-align: center;
  font-size: 1rem;
  transition: 0.2s ease-out;
  font-family: 'Mont';
  margin-bottom: 1em;
  color: #6c6161;
  font-weight: 500;
  opacity: 0;
  top: 1rem;
  scale: 1 0;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-20px);}
	60% {-webkit-transform: translateY(-10px);}
}
@keyframes bounceSmal {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-6px);}
	60% {-webkit-transform: translateY(-3px);}
}

#s1 .scrolldown:hover {
  cursor: pointer;
  animation-play-state: paused;
}

#s1 .scrolldown:hover::after {
  width: 166px;
  left: -6px;
  top: -6px;
}

#s1 .scrolldown:hover svg{
  animation-play-state: paused;
  translate: 0 20px ;
  scale: .9;
  opacity: 1;
}

#s1 .scrolldown:hover span{
  translate: 0 20px;
  scale: 1.1;
  opacity: .7;
}